version: '3.8'
services:
  backend_pme:
    build:
      context: .
    command: uvicorn main:app --reload --proxy-headers --host 0.0.0.0 --port 90
    expose:
      - 90
    volumes:
      - ./app:/pme/
    environment:
      - RUTA_CLUSTER=${RUTA_CLUSTER}
      - DB_MONGO=${DB_MONGO}
      - SECRET_KEY=${SECRET_KEY}
  nginx_pme:
    image: nginx:latest
    ports:
      - "81:80"
    environment:
      - VIRTUAL_PORT=80
      - VIRTUAL_HOST=api-pme.dp-mc.site
      - LETSENCRYPT_HOST=api-pme.dp-mc.site
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf

networks:
  default:
    name: base_red_pme
    external: true
